{% extends "mainapp/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="w-50 py-5 mx-auto">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            <span class="input-group-text bg-primary" id="inputGroup-sizing-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
            </span>
        </div>
    </div>
    <div class="row align-items-center px-10">
        <div class="col text-center rounded border border-2 border-secondary">
            <h2 class="font-weight-bold">Por sueldo</h2>
            {% for wage in wage_list %}
                <div class="row align-items-center my-3">
                    <div class="col mx-5 py-3 rounded border border-2 border-secondary">
                        <div class="text-center">
                            <h3>$ {{ wage.monthly }} ($ {{ wage.yearly }})</h3>
                        </div>
                        <div class="text-center">
                            <span class="text-uppercase">{{ wage.position }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col"></div>
        <div class="col"><!-- text-center rounded border border-primary">--></div>
    </div>
{% endblock %}