$primary: #0072BB;
$secondary: #BDBDBD;
$body-bg: #F3FAFF;

@import './bootstrap/scss/bootstrap';

.px-10 {
  padding-left: ($spacer * 8) !important;
  padding-right: ($spacer * 8) !important;
}

.pe-7 {
    padding-right: ($spacer * 3.5) !important;
}